.table-wrapper {
  width: 100%;

  /* max-height: 800px;
  overflow-y: scroll; */
}
table th {
  position: sticky;
  top: 0px;
  background-color: white;
  overflow: hidden;
  z-index: 1;
}
.UserDatatable {
  border: 1px solid #c0c0c0;
  border-collapse: collapse;
  padding: 5px;
  width: 98%;
  /* margin: 0 20px; */
}

.UserDatatable th {
  border: 1px solid #c0c0c0;
  padding: 5px;
}

.UserDatatable td {
  border: 1px solid #c0c0c0;
  padding: 10px 5px;
}

.disable-row {
  color: rgb(194, 191, 191) !important;
}

.enable-row {
  color: black !important;
}

.user {
  width: 300px;
  background-color: #61dafb;
  border-radius: 10px;
  min-height: 200px;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 20px auto;
}

.paginationBttns a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid black;
  color: blue;
  cursor: pointer;
}

td,
tr,
th {
  /* width: 180px; */
  word-break: break-all;
}

th,
td {
  width: 100px;
  height: 50px;
}

.paginationBttns a:hover {
  color: white;
  background-color: blue;
}

.paginationActive a {
  color: white;
  background-color: blue;
}

.disable-btn {
  pointer-events: none;
  color: rgb(221, 217, 217) !important;
  background-color: #e2f6fc;
}

.hidden-btn {
  display: none;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: center;
  width: 98%;
  margin: 0 auto;
}
table {
  border-radius: 10px;

  border: 1px solid black;
  border-collapse: collapse;

  min-width: max-content;
}

.no-data-text {
  width: 100%;
  text-align: center;
}

.firstName,
.LastName,
.email {
  text-align: start;
}
.container {
  width: 100%;
}

#locked-users {
  color: #bcc4c6;
  padding: 5px;
}

@media (max-width: 800px) {
  .UserDatatable td {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .table-wrapper {
    max-width: 550px;
    overflow-x: scroll;
    max-height: 400px;
    overflow-y: scroll;
    margin: 0 auto;
  }
  .searchbar-container{
    width: 100%;
  }
  .container{
    overflow-x: scroll;
  }
}
